.header {
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.header p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    font-size: 2em;
    overflow: hidden;
    
}